<mat-sidenav-container>
  <mat-sidenav #sidenav (opened)="log('Opened')" (closed)="log('Closed')" mode="side" [(opened)]="opened">
    <!--Sidenav Content -->
    <button (click)="sidenav.close()"><mat-icon style="color: inherit;">clear</mat-icon></button>
  </mat-sidenav> <!-- 3 possible modes are over, push, or side -->
  <mat-sidenav-content> <!-- Main Content -->
    <mat-toolbar>
    <button (click)="sidenav.toggle()"><mat-icon>reorder</mat-icon></button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>